<h1>Dogs Page!</h1>

<p><%= render partial: 'app_partials/link_to_dash' %>

<% @dogs.each do |dog| %>
    <section id=<%= "dogs-#{dog.id}"%>>
        <li>Name: <%= link_to "#{dog.name}", "/dogs/#{dog.id}" %></li>
        <li>Age: <%= dog.age %></li>
        <li>Coat: <%= dog.color %></li>
        <p><%= button_to "Update #{dog.name}", edit_dog_path(dog.id), method: :get %>
        <p><%= button_to "Delete #{dog.name}", dog_path(dog.id), method: :delete %>
<% end %>

<p><h3>Create a new Dog</h3>
<p><%= form_with model: @dog, url: dogs_path, method: :post, data: {turbo:false} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.number_field :age %>

    <%= f.label :color %>
    <%= f.text_field :color %>

    <%= f.submit "Create" %>
<% end %>

<p><h3>Average age</h3>
<% if @dogs.empty? %>
    No dogs at this time
<% else %>
    <%= Dog.average_dog_age %>
<% end %>