<h1> <%= @family.name %> Show Page </h1>

<p><h2> Dog Info </h2>
<li>Name: <%= @dog.name %></li>
<li>Age: <%= @dog.age %></li>
<li>Coat: <%= @dog.color %></li>

<p><h2> Cat Info </h2>
<li>Name: <%= @cat.name %></li>
<li>Age: <%= @cat.age %></li>
<li>Coat: <%= @cat.color %></li>
