<h1> <%= @family.name %> Show Page </h1>

<p><%= render partial: 'app_partials/link_to_dash' %>

<p><h2> Dog Info </h2>
<li>Name: <%= @dog.name %></li>
<li>Age: <%= @dog.age %></li>
<li>Coat: <%= @dog.color %></li>

<p><h2> Cat Info </h2>
<li>Name: <%= @cat.name %></li>
<li>Age: <%= @cat.age %></li>
<li>Coat: <%= @cat.color %></li>

<p><%= button_to "Delete Association", family_path(@family.id), method: :delete %>