<h1>Cats Page!</h1>

<% @cats.each do |cat| %>
    <p><section id=<%= "cats-#{cat.id}"%>>
        <li>Name: <%= link_to "#{cat.name}", "/cats/#{cat.id}" %></li>
        <li>Age: <%= cat.age %></li>
        <li>Coat: <%= cat.color %></li>
<% end %>

<p><h3>Create a new Cat</h3>
<p><%= form_with model: @cat, url: cats_path, method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :age %>
    <%= f.number_field :age %>

    <%= f.label :color %>
    <%= f.text_field :color %>

    <%= f.submit "Create" %>
<% end %>